* {
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  list-style: none;
  bottom: 50px;
  background: #081b39;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  list-style: none;
}
.nav * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav a {
  position: relative;
  color: rgba(205, 207, 205, 0.5);
  padding: 0.5rem 0.8rem;
  text-decoration: none;
}
.nav a:before,
.nav a:after {
  position: absolute;
  height: 15px;
  width: 15px;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.nav a:before {
  right: 0;
  top: 0;
  border-right: 3px solid #00abf0;
  border-top: 3px solid #00abf0;
  -webkit-transform: translate(-100%, 50%);
  transform: translate(-100%, 50%);
}
.nav a:after {
  left: 0;
  bottom: 0;
  border-left: 3px solid #00abf0;
  border-bottom: 3px solid #00abf0;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}
.nav a:hover:before,
.nav a:hover:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
.class1 {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: #081b39;
  color: #081b39;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.class1 li {
  border-radius: 5px;
  list-style: none;
}

.class1 li:before {
  content: "\2713";
  margin-right: 5px;
}

.class1 li:hover {
  background-color: rgb(6, 6, 6);
}

.class1:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 242, 242);
  border-style: dashed;
  transition: background-color 0.5s ease;
}
.wrapper.four {
  background-color: #252525;
  font-size: 2rem;
  font-family: "Play", sans-serif;
}

.four .type {
  padding: 2rem 1rem;
  width: 50%;
  margin: auto;
}

.four h3 {
  width: 20ch; /* Change the width to 20ch */
  border-right: 4px solid #252525;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20, end),
    blink-caret 0.5s step-end infinite alternate;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
